/* CSS resposive grid framework */
.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}
.c-l {
  grid-column: span 12;
}
.c-ml {
  grid-column: span 11;
}
.c-m {
  grid-column: span 6;
}
.c-s {
  grid-column: span 4;
}
.c-xs {
  grid-column: span 1;
}
@media screen and (max-width: 799px) {
  .c-m {
    grid-column: span 12;
  }
  .c-s {
    grid-column: span 6;
  }
}
@media screen and (max-width: 599px) {
  .c-s {
    grid-column: span 12;
  }
}
/* CSS resposive grid framework */

body {
  font-family:Arial, Helvetica, sans-serif;
  color: #707070;
  margin: 0px;
  padding: 0px;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
}
main {
  padding: 100px 20px 20px 20px;
  margin: 0px auto;
}
.name {
  display: inline;
}
.branding a {
  margin-left: 20px;
  text-decoration: none;
}
#header-img {
  max-width: 40px;
  margin: 20px 5px 0px 30px;
}
.name {
  font-size: 27px;
  font-family: 'Felipa';
  color: #2994B2;
  vertical-align: 12px;
}
.nav-links {
  text-align: center;
  margin-top: 30px;
}
.nav-link {
  padding: 0px 30px 0px 0px;
  color: #2994B2;
}
.form {
  margin: 0px auto;
  text-align: center;
}
input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
}
.button {
    max-width: 120px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #ffa537;
    color: #3d2a11;
    font-size: 1em;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
}
.products {
  width: 75%;
  margin: 0px auto;
}
.fa {
  font-size: 35px !important;
  color: #2994B2;
}
h4 {
  margin-top: 0px;
  margin-bottom: 5px;
}
.product-icon {
  width: 35px;
  text-align: center;
}
.anchor {
  margin-top: -90px;
  padding-top: 140px;
}
.video {
  margin: 0px auto;
  text-align: center;
}
iframe {
  width: 560px;
  height: 315px;
}
.signup {
  margin-bottom: -115px;
}
@media screen and (max-width: 799px) { 
  .nav-links {
    text-align: center;
    margin-top: 0px;
  }
  .branding a {
    text-decoration: none;
  }
  .branding {
    margin: 0px auto;
    margin-bottom: -5px;
  }
  #header-img {
    max-width: 40px;
    margin: 20px 5px 0px 0px;
  }
  .nav-link {
    padding: 0px 15px 0px 15px;
  }
  .products {
    width: 95%;
  }
  .video {
    margin: 0px auto;
    text-align: center;
    width: 100%;
    max-width: 560px;
  }
  iframe {
    width: 100%;
    height: 315px;
  }
}